<!-- THIS IS THE HTML FILE FOR THE WEBPAGE -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>JLR Task One</title> <!-- Names the tab -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script>
        
            function activate(element) {
                const make = element.dataset.make.replace(/\s/g, "&")
                const model = element.dataset.model.replace(/\s/g, "&")
                const location = element.dataset.location.replace(/\s/g, "&");
                const colour = element.dataset.colour;
                const date = element.dataset.date;

                const search = make + "-" + model + "-" + location + "-" + colour + "-" + date 

                window.open("http://127.0.0.1:5000/details/" + search);
            }
            
        </script>
    </head>
    <body>
        <div class="p-3">
            <h1>JLR Task One - Vehicle Search</h1> <!-- This is a heading for the page -->
            <br>
            <br>
            <h2>Search for a car by its model, make, production date, colour or location</h2>
            <form action="search" method="post"> 
                <!-- This form will take input from the user so we can use that to search through the data
                    (not completed) 
                    
                    Make, model, production date, colour, location
                    -->

                <label>Make</label>

                <select name="make-type"> 
                    <option value="N">-----</option>
                    <option value="Jaguar">Jaguar</option>
                    <option value="Land Rover">Land Rover</option>
                </select>

                <br>

                <label>Model</label>


                <select name="model-type"> 
                    <option value="N">-----</option>
                    <option value="I Pace">I Pace</option>
                    <option value="E Pace">E Pace</option>
                    <option value="F Pace">F Pace</option>
                    <option value="Range Rover">Range Rover</option>
                    <option value="Range Rover Sport">Range Rover Sport</option>
                    <option value="Discovery">Discovery</option>
                    <option value="Discovery Sport">Discovery Sport</option>
                    <option value="Velar">Velar</option>
                    <option value="Defender">Defender</option>
                    <option value="Evoque">Evoque</option>
                </select>

                <br>

                <label>Production Date</label>

                <select name="production-type">
                    <option value="N">-----</option>
                    <option value ="1999">1999</option>
                    <option value="2025">2025</option>
                    <option value="2026">2026</option>
                </select>

                <br>

                <label>Colour</label>
                

                <select name="colour-type"> 
                    <option value="N">-----</option>
                    <option value="Red">Red</option>
                    <option value="Blue">Blue</option>
                    <option value="Silver">Silver</option>
                    <option value="White">White</option>
                    <option value="Black">Black</option>
                    <option value="Green">Green</option>
                    <option value="Grey">Grey</option>
                </select>

                <br>

                <label>Location</label>
                                
                <select name="location-type"> 
                    <option value="N">-----</option>
                    <option value="Halewood">Halewood</option>
                    <option value="Solihull">Solihull</option>
                    <option value="Castle Bromwich">Castle Bromwich</option>
                </select>


                <br>
                <br>

                <input type="submit">
            </form>

            <br>
            <br>    
            
            <div id="alert" style="display: {{show_element}};" class="alert alert-danger" role="alert">
                <strong> No cars found.</strong> 
            </div>

            <div id="results" class = "container mt-3">
                <div class ="row g-4">
                    {% for make in makes %}
                        <div class="col-6 col-sm-4 col-md-3 col-lg-2 col-xl-2" style="margin: 0 1rem 2rem 0">
                            <div class ="card h-100">
                                <div class = "card-body" 
                                    onclick="activate(this)"
                                    data-model="{{ models[loop.index0] }}"
                                    data-make = "{{ makes[loop.index0] }}"
                                    data-location="{{ locations[loop.index0] }}"
                                    data-colour="{{ colours[loop.index0] }}"
                                    data-date="{{ dates[loop.index0] }}">
                                    <h4 id="make" class="card-title"> {{ makes[loop.index0] }}</h4>
                                    <h5 id="model" class="card-title">{{ models[loop.index0] }}</h5>
                                    <h6 id="location" class="card-subtitle mb-2 text-muted">{{ locations[loop.index0]}}</h6>
                                    <p id="colour" class="card-text">{{ colours[loop.index0]}}</p> 
                                    <p id="date" class="card-text">{{ dates[loop.index0]}}</p>
                                </div>
                            </div> 
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </body>
</html>